/* styles.css */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* --body-bg: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.984),
        rgba(0, 0, 0, 0.821)
    ); */
    --body-bg: linear-gradient(
        to top,
        rgb(0, 0, 0),
        rgb(86, 86, 75),
        rgb(0, 0, 0)
    );
    --body-bg-clouds: linear-gradient(
        to top,
        rgb(0, 0, 0),
        rgb(52, 56, 70),
        rgb(0, 0, 0)
    );
    --body-bg-rainy: linear-gradient(
        to top,
        rgb(0, 0, 0),
        rgb(7, 35, 33),
        rgb(0, 0, 0)
    );
    --grad-bg: linear-gradient(
        to left,
        rgba(113, 113, 28, 0.968),
        rgb(72, 70, 51),
        rgba(237, 237, 237, 0.162)
    );
    --grad-bg-clouds: linear-gradient(
        to left,
        rgb(0, 0, 0),
        rgb(52, 56, 70),
        rgb(0, 0, 0)
    );
    --grad-bg-rainy: linear-gradient(
        to left,
        rgb(0, 0, 0),
        rgb(7, 35, 33),
        rgb(0, 0, 0)
    );
    --accent-bg-clear: #3f3a2c;
    --accent-bg-clouds: rgb(52, 56, 70);
    --accent-bg-rainy: rgb(52, 70, 69);
    --main-font-family: "Poppins", sans-serif;
    --heading-font-family: "Raleway", sans-serif;
    --container-bg: rgba(66, 66, 66, 0.135);
    --border-radius: 1rem;
    --base-font-size: clamp(10px, calc(8px + 0.6vw), 1.5vw);
    --text-color: #ffffff;
    --text-color-dup: #b6b6b6da;
}
html,
input {
    font-size: var(--base-font-size);
    font-family: var(--main-font-family);
}
body {
    height: 100vh;
    width: 100vw;
}

input {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.83);
}
h1,
h2,
h3 {
    color: var(--body-bg);
}
.container {
    min-height: 100%;
    min-width: 100vw;
    display: grid;
    grid-template-areas: header main footer;
    grid-template-rows: 2.5fr 20fr 1fr;
    background: var(--body-bg);
    gap: 0rem;
}
.container:has(.temp#clouds) {
    background: var(--body-bg-clouds);
}
.container:has(.temp#rain) {
    background: var(--body-bg-rainy);
}
.container > * {
    display: flex;
}

header {
    justify-content: space-between;
}
footer {
    justify-content: center;
    align-items: center;
}
.sidebar {
    max-width: 25rem;
}
.sidebar #fav-city {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    gap: 0.5rem;
}
#weekly-forecast {
    display: flex;
    position: relative;
}
#fav-city .city-list-item,
#weekly-forecast .day-list-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
}
.forecast-list {
    overflow: hidden;
    /* Optional: Adds a faded edge for a nicer look */
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    background-color: #03030345;
}

#fav-city .city-list-item + .city-list-item,
.day-list-item + .day-list-item {
    padding: 0 0.8rem;
}
.city-list-item:hover,
.day-list-item:hover {
    background-color: rgba(128, 128, 128, 0.343);
    cursor: pointer;
    transform: translate(0, 0) scale(1.009);
    transition: all 0.3s ease-in-out;
}
.city-list-item:hover {
    background-color: #020202;
}
.city-list-item:hover {
}
.city-list-item {
    position: relative;
}
.city-list-item .delete-location {
    position: absolute;
}
.city-list-item .delete-location {
    background: none;
    border: none;
    right: 0.5rem;
    top: 30%;
    visibility: hidden;
}
.city-list-item:hover .delete-location {
    visibility: visible;
}
.delete-location:hover {
    background-color: gray;
    border-radius: 0.6rem;
}
.city-list-item:hover .right,
.city-list-item:hover .city-list-minmax {
    visibility: hidden;
}
.temp + div {
    position: relative;
    margin-bottom: 7rem;
}
.forecast-list {
    position: absolute;
    width: 100%;
}
.city-list-item.location-on {
    background-color: rgba(128, 128, 128, 0.343);
}
.container:has(.temp#rain) .location-on {
    background-color: var(--accent-bg-rainy);
}
.container:has(.temp#clouds) .location-on {
    background-color: var(--accent-bg-clouds);
}
.container:has(.temp#clear) .location-on {
    background-color: var(--accent-bg-clear);
}
.city-list-item:hover hr,
.city-list-item.location-on hr {
    visibility: hidden;
}
.city-list-item .uppersec,
.city-list-item .lower-sec > div {
    display: flex;
    justify-content: space-between;
}
.day-list-item .uppersec {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.day-list-item .uppersec .left,
.day-list-item .right {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
#weekly-forecast {
    gap: 0.8rem;
}

.container
    .temp-wrapper
    .forecast-list
    #weekly-forecast
    .day-list-item
    .temp-grad {
    display: inline-block;
    width: 5.5rem;
    height: 0.17rem;
}
.container.container:has(.temp#clear) .temp-grad {
    background: linear-gradient(
        to right,
        var(--text-color-dup),
        rgba(253, 232, 168, 0.93)
    );
}
.container.container:has(.temp#clouds) .temp-grad {
    background: linear-gradient(
        to right,
        var(--text-color-dup),
        rgba(114, 114, 196, 0.939)
    );
}

.container.container:has(.temp#rain) .temp-grad {
    background: linear-gradient(
        to right,
        var(--text-color-dup),
        rgb(101, 160, 157)
    );
}

/* .temp-wrapper{overflow: hidden;} */
.city-list-item .uppersec {
    align-items: center;
    margin-bottom: 0.8rem;
}
.day-list-item {
    white-space: nowrap;
}
#weekly-forecast {
    animation: scroll 20s linear infinite;
}
/* The Keyframes */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        /* Moves the list to the left by half its width */
        transform: translateX(-50%);
    }
}

.city-list-item .uppersec .left {
    display: flex;
    flex-direction: column;
}
.city-title {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.18rem;
}
.uppersec .left .city-time {
    font-size: 0.7rem;
}
.uppersec .right .current-temp-list {
    font-size: 2rem;
}
.city-list-item .lower-sec {
    font-size: 0.55rem;
    letter-spacing: 0.06rem;
}
.x-line {
    border: none; /* remove default */
    border-top: 0.1px solid #cccccc7f; /* set custom thickness and color */
    margin: 0.7rem 0 0.2rem;
}
main.main-section {
    gap: 2rem;
    padding: 1.5rem clamp(0px, calc(1rem + 1.5vw), 150px);
    margin: 0 auto;
}
@media screen and (max-width: 780px) {
    .container {
        grid-template-rows: 0.5fr 20fr 1fr;
    }
    .section {
        flex: 1;
    }
    .current-weather {
        min-width: 0rem;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .sidebar {
        order: 2;
        max-width: 35rem;
        min-width: 30rem;
    }
    .city-details {
        flex-wrap: wrap;
        justify-content: center;
        order: 1;
    }
    .temp-wrapper .temp.card {
        max-height: 700px;
        min-height: 40rem;
    }
}
@media screen and (max-width: 350px) {
    .chart-container {
        width: 35rem;
    }
}
.card {
    min-height: 23rem;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.304),
        0 16px 32px rgba(0, 0, 0, 0.3);
}

.city-details {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.city-details .temp {
    flex: 3.5;
}
.section {
    margin: auto 0;
}
.section .card {
    align-self: stretch;
}
.section,
.temp {
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.map-section {
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
.temp {
    padding: 1.5rem 2rem;
    gap: 2rem;
}
.temp-wrapper,
.card,
.section {
    max-width: 50rem;
}

.section {
    align-items: center;
    gap: 1.5rem;
}

.card {
    align-self: center;
    min-width: 22rem;
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.card {
    background: linear-gradient(to right, #020202, #03030394);

    border-radius: 20px;
    box-shadow:
        inset 2px 2px 6px rgba(0, 0, 0, 0.559),
        /* inner shadow */ inset -1px -1px 5px rgba(255, 255, 255, 0.065),
        /* highlight */ 0 2px 4px rgba(0, 0, 0, 0.225); /* external shadow */
    box-shadow:
        0 12px 17px rgba(0, 0, 0, 0.191),
        0 2px 32px rgba(92, 92, 92, 0.145);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-3px); /* subtle lift */
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.35),
        0 16px 32px rgba(0, 0, 0, 0.3);
}
/*  */
@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
}

.city-details .temp {
    animation: float 3.5s ease-in-out infinite;
}

.container:has(.temp#clouds) .current-icon {
    border-top: 3px solid rgba(100, 148, 237, 0.194);
    border-left: 3px solid rgba(100, 148, 237, 0.194);
    border-top: 3px solid rgba(100, 148, 237, 0.194);

    border-bottom: none;
}
.container:has(.temp#clear) .current-icon {
    border-top: 3px solid rgba(255, 217, 0, 0.378);
    border-left: 3px solid rgba(251, 217, 24, 0.352);
    border-top: 3px solid rgba(255, 217, 0, 0.134);

    border-bottom: none;
}
.container:has(.temp#rain) .current-icon {
    border-top: 3px solid rgba(0, 191, 255, 0.269);
    border-left: 3px solid rgba(0, 191, 255, 0.269);
    border-top: 3px solid rgba(0, 191, 255, 0.269);

    border-bottom: none;
}
.current-icon {
    animation: pulse 3s ease-in-out infinite;
}
.container:has(.temp#clear) .current-icon {
    animation: pulse2 3s ease-in-out infinite;
}
.container:has(.temp#clouds) .current-icon {
    animation: pulse3 3s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 40px rgba(0, 255, 255, 0.6);
    }
}
@keyframes pulse2 {
    0%,
    100% {
        box-shadow: 0 0 15px rgba(205, 188, 113, 0.3);
    }
    50% {
        box-shadow: 0 0 40px rgba(105, 96, 0, 0.873);
    }
}
@keyframes pulse3 {
    0%,
    100% {
        box-shadow: 0 0 15px rgba(114, 114, 196, 0.52);
    }
    50% {
        box-shadow: 0 0 40px rgba(114, 114, 196, 0.896);
    }
}
footer > p {
    letter-spacing: 0.4rem;
    font-size: 0.85rem;
}
footer a {
    text-decoration: none;
    letter-spacing: 0.5rem;
}
.container:has(.temp#rain) footer a {
    color: rgb(101, 160, 157);
}
.container:has(.temp#clouds) footer a {
    color: rgb(137, 153, 206);
}
.container:has(.temp#clear) footer a {
    color: #a9945b;
}
header h1 {
    color: var(--text-color);
    letter-spacing: 0.3rem;
}

.search-location {
    display: flex;
    position: relative;
    overflow: hidden;
    gap: 0;
    width: 100%;
}
div {
    color: var(--text-color);
}
.search-location button {
    border: none;
    right: 0;
    background-color: transparent;
    color: white;
}
.search-location .search-button {
    width: 3rem;
    height: 3rem;
}
.add-fav {
    display: flex;
    justify-content: center;
}
.search-location .add-fav button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.272);
    border-radius: 2rem;
}
.add-fav button span {
    background-color: rgba(255, 255, 255, 0.083);
    border-radius: 50%;
    width: 24px;
    aspect-ratio: 1;
    display: flex;
    height: 24px;
}
.search-location button.search-button {
    position: absolute;
    right: 0;
}
.search-button img {
    opacity: 1;
}
.search-location input:hover,
.search-location input:focus {
    opacity: 1;
}
.search-location input:hover + .search-button {
    opacity: 1;
}
.search-location button:hover,
.unit:hover {
    background: rgba(255, 255, 255, 0.128);
    transform: translate(0, 0) scale(1.02);
    transition: all 0.19s ease-in-out;
    border-radius: 0.5rem;
    cursor: pointer;
}
.search-location input {
    height: 2.5rem;
    width: 90%;
    padding: 0.7rem;
    background-color: rgba(29, 29, 29, 0.409);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    opacity: 0.5;
}
.date-time {
    display: flex;
    gap: 1rem;
    font-size: 0.6rem;
}
.address-div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
}
.address-div .city-name {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
.address-div span {
    letter-spacing: 0.2rem;
}
.address-secondary {
    font-weight: 200;
    font-size: 0.9rem;
}
#current-temp {
    font-size: min(calc(50px + 5vw), 7rem);
}
.unit {
    padding: 0.5rem;
}
.unit.on {
    font-size: 4rem;
}
.units > * {
    font-size: 1rem;
}
.cel + span {
    font-weight: 100;
}
.current-icon {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-top: 1px solid rgb(255, 255, 210);
    border-left: 1px solid rgb(255, 255, 210);
    border-top: 1px solid rgb(255, 255, 210);

    border-bottom: none;
    border-radius: 50%;

    padding: 2rem;
}
.current-icon img {
    min-width: 6rem;
}
.current-weather-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.current-weather {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    min-width: 32rem;
}
.temp-icon {
    display: flex;
    gap: min(2rem, calc(2vw));
    flex-wrap: wrap;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.weather-descrip span,
.weather-minmax span {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}
.weather-minmax span {
    font-size: 1rem;
}
.hourly-daily {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.data-carousel {
    display: flex;
}
.add-data-carousel {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.add-data-carousel > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: rgba(108, 108, 108, 0.1);
    border-radius: 0.8rem;
    padding: 1rem;
    min-width: 7rem;
    align-self: center;
}
.add-data-data {
    font-size: 1.5rem;
}
.add-data-carousel .property {
    display: flex;
    gap: 0.2rem;
}
.add-data-icon-img {
    width: 1.2rem;
}
.property .add-image-title {
    font-size: 0.6rem;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.661);
}
.hourly-chart {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.chart-descrip {
    font-size: 0.6rem;
    font-weight: 200;
    letter-spacing: 0.18rem;
}

.chart-container {
    height: 11rem;
}

#windy {
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 1px #0a0a0a;
    position: relative;
    height: 25rem;
    margin-bottom: 0.4rem;
    opacity: 1;
}
.leaflet-popup-content-wrapper {
    background-color: #2c2c2c9c; /* Dark background */
    color: #ffffff; /* Light text */
    border-radius: 50%;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
}
.leaflet-popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styles the popup's arrow */
.leaflet-popup-tip {
    background-color: #2c2c2c57;
    color: black;
}
#windy .leaflet-popup-content-wrapper {
    background-color: rgba(128, 128, 128, 0.208);
}
#windy .leaflet-container a.leaflet-popup-close-button {
    color: rgba(201, 201, 201, 0.344);
}
.leaflet-container .leaflet-control-attribution {
    background-color: rgba(0, 0, 0, 0.261);
    position: absolute;
    top: -0.7rem;
    left: -21rem;
    font-size: 0.5rem;
}

.leaflet-bar a {
    background-color: rgba(0, 0, 0, 0.413);
    color: white;
}
.load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
}
